<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webtrit.callkeep">

    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />

    <!-- Needed for auto start at boot if keep alive service is enabled -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.software.telecom"
        android:required="true" />

    <application>
        <service
            android:name=".services.telecom.connection.PhoneConnectionService"
            android:enabled="true"
            android:exported="false"
            android:label="PhoneConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <service
            android:name=".services.SignalingService"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />

        <service
            android:name=".services.IncomingCallService"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />

        <service
            android:name=".services.ActiveCallService"
            android:exported="false"
            android:foregroundServiceType="phoneCall|microphone|camera" />

        <service android:name=".services.ForegroundService" />

        <receiver
            android:name=".receivers.ForegroundCallBootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
